/* Text colors */
.text-primary {
  color: #28a745;
}

.text-secondary {
  color: #0284d0;
}

/* Button  */
.btn {
  cursor: pointer;
  display: inline-blocks;
  padding: 10px 30px;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 23px;
  transition: 0.4s ease-in-out; 
}

.btn-primary, .bg-primary {
  color: white;
  background-color: #28a745;
}

.btn-primary:hover {
  color: #28a745;
  background-color: white;
}

.btn-secondary, .bg-secondary {
  background-color: #0284d0;
  color: white;
}


.btn-secondary:hover {
  background-color: white;
  color: #0284d0;
}

.btn-dark, .bg-dark {
  background-color: #333;
  color: white;
}

.btn-dark:hover {
  color: #333;
  background: white;
}

.btn-light, .bg-light   {
  background-color: #f4f4f49d;
  color: #fff;
}

.btn-light:hover {
  color: #0000009d;
  background-color: #fff;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
}

/* Flex Items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center; 
  height: 100%;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */

.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}

.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%
}

.flex-columns .column {
  display: flex;
  flex-direction: column; 
  flex-basis: 100%;
  flex: 1;
}

.flex-columns .column .column-1
.flex-columns .column .column-2 {
  height: 100%;
} 


.flex-columns img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
  margin: 75px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h2 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}


/* Section Header  */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

/* Flex Grid  */
.flex-grid .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.flex-grid .column img {
  max-height: 47%;
  object-fit: cover;

}
